<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/e9a5a139-815a-45fb-845e-4eddb35b1132/resourceGroups/supersignlanguageResourceGroup/providers/Microsoft.Web/sites/supersignlanguage</ResourceId>
    <ResourceGroup>supersignlanguageResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://supersignlanguage.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://supersignlanguage.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$supersignlanguage</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>